@media screen and (max-height: 450px) {
  #mySidenav {
    padding-top: 15px; }
  #mySidenav a {
    font-size: 18px; } }

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  margin: auto; }
  .row .card {
    width: 20vw;
    margin: 0 1.5vw 3vw 1.5vw; }
    .row .card img {
      width: 100%;
      border: solid grey 1px;
      -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.8);
      -moz-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.8);
      box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.8);
      transition: margin-left .5s;
      transition: transform .2s; }
      .row .card img:hover {
        transform: translateY(-0.8rem); }
      .row .card img:active {
        transform: translateY(-0.1rem);
        box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.8); }

#footer {
  bottom: 0;
  margin: 5px;
  width: 100vw;
  text-align: center;
  font-size: 1rem;
  font-family: 'Roboto Condensed', sans-serif; }

#header-portfolio {
  margin: 0 auto;
  top: 0;
  width: 95vw;
  background: url("../../../assets/banner.jpeg") no-repeat center center;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  display: inline-block;
  height: 50vh;
  overflow: hidden;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  letter-spacing: 3px; }
  #header-portfolio #hamburger {
    background-color: #fff;
    padding: 1.5vw;
    font-size: 2rem;
    border-radius: 100px;
    margin: 2vw;
    -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.8);
    transition: margin-left .5s, transform .2s;
    cursor: pointer;
    position: fixed; }
    #header-portfolio #hamburger:hover {
      transform: translateY(-0.5rem); }
    #header-portfolio #hamburger:active {
      transform: translateY(-0.1rem);
      box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.8); }
  #header-portfolio h1 {
    margin-left: 55vw;
    margin-top: 8vh;
    font-size: 4vw;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.7); }

#mySidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px; }
  #mySidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s; }
  #mySidenav:hover {
    color: #fff; }
  #mySidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px; }

* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .1px; }

#page-wrapper {
  background-color: #efefef;
  margin-top: 3vh;
  position: inline-block; }

#content-wrapper {
  transition: margin-left .5s;
  padding: 16px;
  position: relative; }
