@media screen and (max-height: 450px) {
  #mySidenav {
    padding-top: 15px; }
  #mySidenav a {
    font-size: 18px; } }

#mySidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px; }
  #mySidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family: 'Roboto Condensed', sans-serif; }
    #mySidenav a:hover {
      color: #fff; }
  #mySidenav i {
    margin-right: 10px; }
  #mySidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}


html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  padding: 3rem;
  box-sizing: border-box;
}

.header {
  height: 55vh;
  background-image: url(../assets/banner.jpeg);
  background-size: cover;
  display: flex;
}

#hamburger {
  font-size: 2.5rem;
  background-color: white;
  border-radius: 100%;
  padding: 2rem;
  margin: 2vw;
  box-shadow: -.5rem .5rem 3rem .5rem rgba(0, 0, 0, 0.5);
  transition: transform .3s;
  position: fixed;
  cursor: pointer;
}

#hamburger:hover {
  transform: translateY(-1.5rem);
}

#hamburger:active {
  transform: translateY(-1rem);
  box-shadow: -.5rem .5rem 2.5rem rgba(0,0,0,0.5);
}

#heading {
  margin-left: 55vw;
  margin-top: 15vh;
  font-size: 6rem;
  letter-spacing: 3px;
  text-shadow: -3px 4px 8px rgba(0, 0, 0, 0.5);
}

section {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 0 1.5vw 3vw 1.5vw;
}

.active {
  background-image: linear-gradient(to right bottom, #96bcff91, #00133391);
  position: absolute;
  z-index: 100;
  width: 20vw;
  height: 23vh;
  text-align: center;
}

.active p {
  margin-top: 5vh;
  font-size: 1.6rem;
  padding: 5px;
  color: white;
}

.hide {
  position: absolute;
  opacity: 0;
  width: 20vw;
  height: 23vh;
}

.top {
  margin-top: 3vw;
}

.hide {
    transition: all .3s ease;
}

.card:hover .hide {
  opacity: 1;
}


img {
  width: 20vw;
  height: 23vh;
  border: solid grey 1px;
  box-shadow: -.5rem 1rem 3rem rgba(0, 0, 0, 0.5);
  transition: transform .3s;
}

img:active {
  transform: translateY(1rem);
  box-shadow: -.5rem .5rem 2.5rem rgba(0,0,0,0.5);
}

#footer {
  text-align: center;
  margin-top: 2vh;
  font-size: 1.3rem;
}

#contact-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}

.links {
  margin: 3vh 1.5vw;
  color: slategray;
}

.linkedin {
  color: #0073B1;
}