* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

body {
  font-size: 62.5%;
  font-family: 'Roboto Condensed', sans-serif;
  transition: background-color .5s;
  color: white; }

#page-wrapper {
  height: 100vh;
  margin: 2rem;
  background: url("../assets/code.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#mySidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px; }
  #mySidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s; }
    #mySidenav a:hover {
      color: #f1f1f1; }
    #mySidenav a i {
      margin-right: 1rem;
      margin-bottom: 3rem; }
  #mySidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px; }

#hamburger {
  transition: margin-left .5s;
  padding: 1.6rem;
  font-size: 1.8rem;
  color: black;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; }
  #hamburger:hover {
    cursor: pointer; }

.content-wrapper {
  transition: margin-left .5s; }
  .content-wrapper .content {
    margin: 2rem;
    padding: 2rem;
    color: white;
    font-size: 1rem;
    display: flex;
    flex-direction: column; }
    .content-wrapper .content .row {
      display: flex;
      justify-content: center; }
      .content-wrapper .content .row .card {
        width: 20rem;
        margin: 1rem; }
        .content-wrapper .content .row .card img {
          width: 100%;
          margin: 1rem;
          border: solid white .4rem; }

@media screen and (max-height: 450px) {
  #mySidenav {
    padding-top: 15px; }
  #mySidenav a {
    font-size: 18px; } }
