* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  background: url(../assets/cityscape.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  font-family: 'Roboto Condensed', sans-serif;
  color: #fff; }

#side-navbar {
  display: inline-block;
  position: fixed;
  height: 100vh;
  left: 0;
  bottom: 0;
  width: 6vmax;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4); }
  #side-navbar #home-link {
    margin-top: 10vh; }
  #side-navbar a {
    font-size: 2vmax;
    text-decoration: none;
    color: #fff; }
    #side-navbar a p {
      font-size: 1vmax;
      text-transform: uppercase; }

.link_hover_effect {
  transition: all .2s ease-out; }

.link_hover_effect:hover {
  transform: scale(1.15); }

#home-link {
  animation: buttonTransition 1s ease-out;
  animation-fill-mode: backwards;
  margin-bottom: 13vh;
  border-right: solid #fff 5px; }

#about_me-link {
  animation: buttonTransition 1s ease-out;
  animation-delay: 1s;
  animation-fill-mode: backwards;
  margin-bottom: 13vh; }

#portfolio-link {
  animation: buttonTransition 1s ease-out;
  animation-delay: 2s;
  animation-fill-mode: backwards;
  margin-bottom: 13vh; }

#contact-link {
  animation: buttonTransition 1s ease-out;
  animation-delay: 3s;
  animation-fill-mode: backwards;
  margin-bottom: 13vh; }

#footer {
  position: fixed;
  width: 50%;
  margin: auto;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  letter-spacing: .1rem;
  padding: 1rem;
  font-size: 1vw;
  color: #000; }

#content-wrapper {
  text-align: center;
  margin-top: 6vh;
  font-size: 1.5vw;
  letter-spacing: .2rem;
  color: #000; }

@keyframes buttonTransition {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    opacity: 0;
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }
