* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 62.5%;
    font-family: 'Roboto Condensed', sans-serif;
    transition: background-color .5s;
    color: white;
    position: relative;
}

#page-wrapper {
    height: 90vh;
    margin: 2rem;
    background: url('../assets/code.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#mySidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

    a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;

        &:hover {
            color: #f1f1f1;
        }

        i {
            margin-right: 1rem;
            margin-bottom: 3rem;
        }
    }

    .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
}

#hamburger {
    transition: margin-left .5s;
    background: rgba(0,0,0,.5);
    padding: 1.6rem;
    font-size: 1.8rem;
    color: black;
    text-shadow:
		-1px -1px 0 #fff,
		1px -1px 0 #fff,
		-1px 1px 0 #fff,
		1px 1px 0 #fff;

    &:hover {
        cursor: pointer;
    }
}

.content-wrapper {
    transition: margin-left .5s;

    .content {
        margin: 2rem;
        padding: 2rem;
        color: white;
        font-size: 1rem;
        display: flex;
        flex-direction: column;

        .row {
            display: flex;
            justify-content: space-around;

            .card {
                width: 20rem;
                margin-top: 1rem;
                margin-bottom: 1rem;

                img {
                width: 100%;
                margin: 1rem;
                border: solid white .4rem;
                -webkit-box-shadow: -4px 18px 40px 0px rgba(0,0,0,1);
                -moz-box-shadow: -4px 18px 40px 0px rgba(0,0,0,1);
                box-shadow: -4px 18px 40px 0px rgba(0,0,0,1);
                }
            }
  
            
            
        }
    }
}

#footer {
    position: fixed;
    width: 50%;
    margin: auto;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    letter-spacing: .1rem;
    padding: 1rem;
    font-size: .8rem;
    color: black;
    font-weight: 700;
    
}

@media screen and (max-height: 450px) {
  #mySidenav {padding-top: 15px;}
  #mySidenav a {font-size: 18px;}
}