
* {
    margin: 0;
    padding: 0;
}

body {
    background: url(../assets/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 62.5%;
    position: relative;
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
}

#side-navbar {
    display: inline-block;
    position: fixed;
    height: 100vh;
    left: 0;
    bottom: 0;
    width: 5rem;
    text-align: center;
    background-color: rgba(0,0,0,.5);
}

a {
    font-size: 1.8rem;
    text-decoration: none;
    color: #fff; 
}

p {
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 13vh;
}

#home-link {
    margin-top: 10vh;
}

#footer {
    position: fixed;
    width: 50%;
    margin: auto;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    letter-spacing: .1rem;
    padding: 1rem;
}