* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .1px;
}

#page-wrapper {
    background-color: #efefef;
    margin-top: 3vh;
    position: inline-block;
    height: 93vh;
}
#content-wrapper {
    transition: margin-left .5s;
    padding: 16px;
    position: relative;
}

#contact-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        font-size: 5vh;
        color: black;
        cursor: pointer;
        margin: 15vh 5vh;

        &:visited {
            color: black;
        }
    }
}


