#footer {
    width: 50%;
    margin: auto;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    letter-spacing: .1rem;
    padding: 1rem;
    font-size: .8rem;
    color: black;
    font-weight: 700;
}