#hamburger {
    position: fixed;
    transition: margin-left .5s;
    background: #fff;
    border-radius: 100px;
    margin: 2rem;
    padding: 1.6rem;
    font-size: 1.8rem;
    color: black;
    -webkit-box-shadow: -4px 10px 40px 0px rgba(0,0,0,1);
    -moz-box-shadow: -4px 10px 40px 0px rgba(0,0,0,1);
    box-shadow: -4px 10px 40px 0px rgba(0,0,0,1);
   
    &:hover {
        cursor: pointer;
    }
}