#header-portfolio {
    margin: 0 auto 1.5vw auto;
    top: 0;
    width: 95vw;
    background: url('../../../assets/banner.jpeg') no-repeat center center;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    display: inline-block;
    height: 50vh;
    overflow: hidden;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    letter-spacing: 3px;

    #hamburger {
        background-color: #fff;
        padding: 1.5vw;
        font-size: 2rem;
        border-radius: 100px;
        margin: 2vw;
        -webkit-box-shadow: 0px 10px 30px rgba(0,0,0,0.8);
        -moz-box-shadow: 0px 10px 30px rgba(0,0,0,0.8);
        box-shadow: 0px 10px 30px rgba(0,0,0,0.8);
        transition: margin-left .5s, transform .2s;
        cursor: pointer;
        position: fixed;

        &:hover {
            transform: translateY(-.5rem);
        }

        &:active {
            transform: translateY(-.1rem);
            box-shadow: 0 .5rem 2rem rgba(0, 0, 0, .8)
        }
    }

    h1 {
        margin-left: 55vw;
        margin-top: 8vh;
        font-size: 4vw;
        text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.7);
    }
}