* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 62.5%;
    font-family: 'Roboto Condensed', sans-serif;
    transition: background-color .5s;
    color: white;
    position: relative;
}

#page-wrapper {
    height: 100%;
    margin: 2rem;
    background: url('../assets/code.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 75% 100%, 0 85%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 75% 100%, 0 85%);
}